<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.AuthorityInfoMapper">
    <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.AuthorityInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="authority_name" jdbcType="VARCHAR" property="authorityName"/>
        <result column="authority_group" jdbcType="VARCHAR" property="authorityGroup"/>
        <result column="uri" jdbcType="VARCHAR" property="uri"/>
        <result column="associated_control" jdbcType="VARCHAR" property="associatedControl"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="modifier" jdbcType="BIGINT" property="modifier"/>
    </resultMap>
    <resultMap id="AuthorityWLModelMap" type="com.yoogurt.taxi.dal.model.user.AuthorityWLModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uri" jdbcType="VARCHAR" property="uri"/>
        <result column="authority_name" jdbcType="VARCHAR" property="authorityName"/>
        <result column="authority_group" jdbcType="VARCHAR" property="authorityGroup"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <resultMap id="GroupAuthorityLModelMap" type="com.yoogurt.taxi.dal.model.user.GroupAuthorityLModel">
        <result column="authority_group" jdbcType="VARCHAR" property="groupName" />
        <collection property="authorityList" ofType="com.yoogurt.taxi.dal.model.user.AuthorityLModel">
            <result column="id" jdbcType="BIGINT" property="id"/>
            <result column="authority_name" jdbcType="VARCHAR" property="authorityName"/>
        </collection>
    </resultMap>
    <select id="getAuthorityWebList" resultMap="AuthorityWLModelMap"
            parameterType="com.yoogurt.taxi.dal.condition.user.UserWLCondition">
    SELECT id,uri,authority_name,authority_group,remark,gmt_modify FROM authority_info WHERE is_deleted=0
    </select>
    <select id="getAllAuthorities" resultMap="GroupAuthorityLModelMap">
        SELECT id,authority_group,authority_name FROM authority_info WHERE is_deleted=0
    </select>
</mapper>