<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.CarInfoMapper">
  <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.CarInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="driver_id" jdbcType="BIGINT" property="driverId" />
    <result column="plate_number" jdbcType="VARCHAR" property="plateNumber" />
    <result column="car_picture" jdbcType="VARCHAR" property="carPicture" />
    <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType" />
    <result column="energy_type" jdbcType="INTEGER" property="energyType" />
    <result column="engine_number" jdbcType="VARCHAR" property="engineNumber" />
    <result column="vin" jdbcType="VARCHAR" property="vin" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="vehicle_register_time" jdbcType="TIMESTAMP" property="vehicleRegisterTime" />
    <result column="driving_permit_front" jdbcType="VARCHAR" property="drivingPermitFront"/>
    <result column="driving_permit_back" jdbcType="VARCHAR" property="drivingPermitBack"/>
    <result column="compulsory_insurance" jdbcType="VARCHAR" property="compulsoryInsurance"/>
    <result column="commercial_insurance" jdbcType="VARCHAR" property="commercialInsurance"/>
    <result column="is_authentication" jdbcType="BIT" property="isAuthentication" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
  </resultMap>

  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO car_info(
      user_id,driver_id,
      plate_number,vehicle_type,company,
      vehicle_register_time,is_authentication,is_deleted,
      gmt_create,creator,
      gmt_modify,modifier)
    VALUES
    <foreach collection="list" item="car" separator=",">
      (#{car.userId},#{car.driverId},
      #{car.plateNumber},#{car.vehicleType},#{car.company},
      #{car.vehicleRegisterTime},#{car.isAuthentication},#{car.isDeleted},
      #{car.gmtCreate},#{car.creator},
      #{car.gmtModify},#{car.modifier}
      )
    </foreach>
  </insert>
</mapper>