<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.CommentTagStatisticMapper">
  <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.CommentTagStatistic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <id column="tag_id" jdbcType="BIGINT" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="counter" jdbcType="INTEGER" property="counter" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    <result column="creator" jdbcType="VARCHAR" property="creator"/>
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
  </resultMap>

  <insert id="saveStatistic" parameterType="com.yoogurt.taxi.dal.beans.CommentTagStatistic">
    INSERT INTO comment_tag_statistic(user_id, tag_id, tag_name, counter, is_deleted, gmt_create, creator, gmt_modify, modifier)
    VALUES (#{userId}, #{tagId}, #{tagName}, #{counter}, #{isDeleted},#{gmtCreate}, #{creator}, #{gmtModify}, #{modifier})
    ON DUPLICATE KEY UPDATE
      counter=counter+#{counter}, gmt_modify=NOW(), modifier=#{modifier}
  </insert>
</mapper>