<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.DriverInfoMapper">
    <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.DriverInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="driving_license" jdbcType="VARCHAR" property="drivingLicense"/>
        <result column="household" jdbcType="VARCHAR" property="household"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="service_number" jdbcType="VARCHAR" property="serviceNumber"/>
        <result column="service_picture" jdbcType="VARCHAR" property="servicePicture"/>
        <result column="id_front" jdbcType="VARCHAR" property="idFront"/>
        <result column="id_back" jdbcType="VARCHAR" property="idBack"/>
        <result column="driving_license_front" jdbcType="VARCHAR" property="drivingLicenseFront"/>
        <result column="driving_license_back" jdbcType="VARCHAR" property="drivingLicenseBack"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="is_authentication" jdbcType="BIT" property="isAuthentication" />
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
    </resultMap>
    <resultMap id="DriverWLModelMap" type="com.yoogurt.taxi.dal.model.user.DriverWLModel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="plate_number" jdbcType="VARCHAR" property="plateNumber"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="getDriverWebList" resultMap="DriverWLModelMap"
            parameterType="com.yoogurt.taxi.dal.condition.user.DriverWLCondition">
        SELECT
        t1.id,
        t1.user_id,
        t3.plate_number,
        t2.username,
        t2.name,
        t1.id_card,
        t2.status
        FROM driver_info t1 LEFT JOIN user_info t2 ON t1.user_id = t2.user_id
        LEFT JOIN car_info t3 ON t1.id = t3.driver_id
        <where>
            <if test="name != null and name != ''">
                t2.name LIKE concat('%',#{name},'%')
            </if>
            <if test="username != null and username != ''">
                AND t2.username LIKE concat('%',#{username},'%')
            </if>
            <if test="null != idCard and '' != idCard">
                AND t1.id_card LIKE concat('%',#{idCard},'%')
            </if>
            <if test="userStatus != null and userStatus != ''">
                AND t2.status=#{userStatus}
            </if>
            AND t1.type=#{userType}
            AND t1.is_deleted=0
        </where>
        ORDER BY t1.gmt_modify DESC
    </select>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO driver_info(id,id_card,driving_license,user_id,service_number,
        `type`,mobile,gender,
        is_deleted,gmt_modify,modifier,gmt_create,
        creator)
        VALUES
        <foreach collection="list" item="driver" separator=",">
            (#{driver.id},#{driver.idCard},#{driver.drivingLicense},#{driver.userId},#{driver.serviceNumber},
            #{driver.type},#{driver.mobile},#{driver.gender},
            #{driver.isDeleted},#{driver.gmtModify},#{driver.modifier},#{driver.gmtCreate},
            #{driver.creator})
        </foreach>
    </insert>
</mapper>