<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.DriverInfoMapper">
  <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.DriverInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="driving_license" jdbcType="VARCHAR" property="drivingLicense" />
    <result column="household" jdbcType="VARCHAR" property="household" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="service_number" jdbcType="VARCHAR" property="serviceNumber" />
    <result column="service_picture" jdbcType="VARCHAR" property="servicePicture" />
    <result column="id_front" jdbcType="VARCHAR" property="idFront" />
    <result column="id_back" jdbcType="VARCHAR" property="idBack" />
    <result column="driving_license_front" jdbcType="VARCHAR" property="drivingLicenseFront" />
    <result column="driving_license_back" jdbcType="VARCHAR" property="drivingLicenseBack" />
    <result column="driving_permit_front" jdbcType="VARCHAR" property="drivingPermitFront" />
    <result column="driving_permit_back" jdbcType="VARCHAR" property="drivingPermitBack" />
    <result column="compulsory_insurance" jdbcType="VARCHAR" property="compulsoryInsurance" />
    <result column="commercial_insurance" jdbcType="VARCHAR" property="commercialInsurance" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
  </resultMap>
</mapper>