<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.FinanceAccountMapper">
  <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.FinanceAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="account_no" jdbcType="BIGINT" property="accountNo" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="frozen_balance" jdbcType="DECIMAL" property="frozenBalance" />
    <result column="receivable_deposit" jdbcType="DECIMAL" property="receivableDeposit" />
    <result column="received_deposit" jdbcType="DECIMAL" property="receivedDeposit" />
    <result column="frozen_deposit" jdbcType="DECIMAL" property="frozenDeposit" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <select id="getListWeb" resultType="com.yoogurt.taxi.dal.model.account.FinanceAccountListModel" parameterType="com.yoogurt.taxi.dal.condition.account.AccountListWebCondition">
    SELECT user_id AS userId,`name`,username,user_type as userType,
      balance,frozen_balance AS frozenBalance,
      receivable_deposit AS  receivableDeposit,
      received_deposit AS receivedDeposit,
      frozen_deposit AS frozenDeposit
    FROM finance_account
    <where>
      <if test="name != null and name !=''">
        name like concat('%',#{name},'%')
      </if>
      <if test="username != null and username != ''">
        and username like concat('%',#{username},'%')
      </if>
      <if test="userType != null">
        and user_type=#{userType}
      </if>
    </where>
  </select>
</mapper>