<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.OrderInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="rent_id" jdbcType="BIGINT" property="rentId"/>
        <result column="agent_user_id" jdbcType="BIGINT" property="agentUserId"/>
        <result column="agent_driver_id" jdbcType="BIGINT" property="agentDriverId"/>
        <result column="agent_driver_name" jdbcType="VARCHAR" property="agentDriverName"/>
        <result column="agent_driver_phone" jdbcType="VARCHAR" property="agentDriverPhone"/>
        <result column="handover_time" jdbcType="TIMESTAMP" property="handoverTime"/>
        <result column="give_back_time" jdbcType="TIMESTAMP" property="giveBackTime"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lng" jdbcType="DOUBLE" property="lng"/>
        <result column="lat" jdbcType="DOUBLE" property="lat"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="car_id" jdbcType="BIGINT" property="carId"/>
        <result column="plate_number" jdbcType="VARCHAR" property="plateNumber"/>
        <result column="vin" jdbcType="VARCHAR" property="vin"/>
        <result column="energy_type" jdbcType="INTEGER" property="energyType"/>
        <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType"/>
        <result column="car_thumb" jdbcType="VARCHAR" property="carThumb"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="official_user_id" jdbcType="BIGINT" property="officialUserId"/>
        <result column="official_driver_id" jdbcType="BIGINT" property="officialDriverId"/>
        <result column="official_driver_name" jdbcType="VARCHAR" property="officialDriverName"/>
        <result column="official_driver_phone" jdbcType="VARCHAR" property="officialDriverPhone"/>
        <result column="is_commented" jdbcType="BIT" property="isCommented"/>
        <result column="is_paid" jdbcType="BIT" property="isPaid"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="modifier" jdbcType="BIGINT" property="modifier"/>
    </resultMap>
    <resultMap id="OrderModel" type="com.yoogurt.taxi.dal.model.order.OrderModel">
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="rent_id" jdbcType="BIGINT" property="rentId"/>
        <result column="agent_user_id" jdbcType="BIGINT" property="agentUserId"/>
        <result column="agent_driver_id" jdbcType="BIGINT" property="agentDriverId"/>
        <result column="agent_driver_name" jdbcType="VARCHAR" property="agentDriverName"/>
        <result column="agent_driver_phone" jdbcType="VARCHAR" property="agentDriverPhone"/>
        <result column="handover_time" jdbcType="TIMESTAMP" property="handoverTime"/>
        <result column="give_back_time" jdbcType="TIMESTAMP" property="giveBackTime"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lng" jdbcType="DOUBLE" property="lng"/>
        <result column="lat" jdbcType="DOUBLE" property="lat"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="car_id" jdbcType="BIGINT" property="carId"/>
        <result column="plate_number" jdbcType="VARCHAR" property="plateNumber"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="official_user_id" jdbcType="BIGINT" property="officialUserId"/>
        <result column="official_driver_id" jdbcType="BIGINT" property="officialDriverId"/>
        <result column="official_driver_name" jdbcType="VARCHAR" property="officialDriverName"/>
        <result column="official_driver_phone" jdbcType="VARCHAR" property="officialDriverPhone"/>
        <result column="is_commented" jdbcType="BIT" property="isCommented"/>
        <result column="is_paid" jdbcType="BIT" property="isPaid"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="orderTime"/>
    </resultMap>

    <select id="getOrderList" parameterType="map" resultMap="OrderModel">
        SELECT order_id, rent_id, agent_user_id, agent_driver_id, agent_driver_name, agent_driver_phone,
            handover_time, give_back_time, company, address, lng, lat, price, amount, car_id, plate_number,
            official_user_id, official_driver_id, official_driver_name, official_driver_phone,
            is_commented, is_paid, status, gmt_create
        FROM order_info
        WHERE is_deleted=0 AND status != 60
        <if test="orderId != null and orderId > 0">
            AND order_id=#{orderId}
        </if>

        <if test="userId != null and userType != null">
            <if test="userType == 20">
                AND agent_user_id=#{userId}
            </if>
            <if test="userType == 30">
                AND official_user_id=#{userId}
            </if>
        </if>

        <if test="driverName != null and driverName != ''">
            AND (agent_driver_name=#{driverName} OR official_driver_name=#{driverName})
        </if>

        <if test="phone != null and phone != ''">
            AND (agent_driver_phone=#{phone} OR official_driver_phone=#{phone})
        </if>

        <if test="status != null and status > 0">
            AND status=#{status}
        </if>

        <if test="startTime != null">
            <![CDATA[ AND handover_time >= #{startTime} ]]>
        </if>

        <if test="endTime != null">
            <![CDATA[ AND give_back_time <= #{endTime} ]]>
        </if>
        ORDER BY gmt_modify DESC, gmt_create DESC
    </select>

    <resultMap id="CancelModel" extends="OrderModel" type="com.yoogurt.taxi.dal.model.order.CancelModel">
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="cancel_time" jdbcType="INTEGER" property="cancelTime"/>
    </resultMap>

    <select id="getCancelOrders" parameterType="map" resultMap="CancelModel">
        SELECT o.order_id, rent_id, agent_user_id, agent_driver_id, agent_driver_name, agent_driver_phone,
            handover_time, give_back_time, company, address, lng, lat, price, amount, car_id, plate_number,
            official_user_id, official_driver_id, official_driver_name, official_driver_phone,
            is_commented, is_paid, status, o.gmt_create, c.reason, c.gmt_create AS cancel_time
        FROM order_info AS o LEFT JOIN order_cancel_info AS c ON (c.order_id=o.order_id)
        WHERE o.is_deleted=0 AND o.status=60

        <if test="orderId != null and orderId > 0">
            AND o.order_id=#{orderId}
        </if>

        <if test="userId != null and userType != null">
            <if test="userType == 20">
                AND agent_user_id=#{userId}
            </if>
            <if test="userType == 30">
                AND official_user_id=#{userId}
            </if>
        </if>
        ORDER BY o.gmt_create DESC
    </select>
</mapper>