<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.OrderInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="rent_id" jdbcType="BIGINT" property="rentId"/>
        <result column="agent_user_id" jdbcType="BIGINT" property="agentUserId"/>
        <result column="agent_driver_id" jdbcType="BIGINT" property="agentDriverId"/>
        <result column="agent_driver_name" jdbcType="VARCHAR" property="agentDriverName"/>
        <result column="agent_driver_phone" jdbcType="VARCHAR" property="agentDriverPhone"/>
        <result column="handover_time" jdbcType="TIMESTAMP" property="handoverTime"/>
        <result column="give_back_time" jdbcType="TIMESTAMP" property="giveBackTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lng" jdbcType="DOUBLE" property="lng"/>
        <result column="lat" jdbcType="DOUBLE" property="lat"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="car_id" jdbcType="BIGINT" property="carId"/>
        <result column="plate_number" jdbcType="VARCHAR" property="plateNumber"/>
        <result column="vin" jdbcType="VARCHAR" property="vin"/>
        <result column="energy_type" jdbcType="INTEGER" property="energyType"/>
        <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType"/>
        <result column="car_thumb" jdbcType="VARCHAR" property="carThumb"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="official_user_id" jdbcType="BIGINT" property="officialUserId"/>
        <result column="official_driver_id" jdbcType="BIGINT" property="officialDriverId"/>
        <result column="official_driver_name" jdbcType="VARCHAR" property="officialDriverName"/>
        <result column="official_driver_phone" jdbcType="VARCHAR" property="officialDriverPhone"/>
        <result column="is_commented" jdbcType="BIT" property="isCommented"/>
        <result column="is_paid" jdbcType="BIT" property="isPaid"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <resultMap id="OrderModel" type="com.yoogurt.taxi.dal.model.order.OrderModel">
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="rent_id" jdbcType="BIGINT" property="rentId"/>
        <result column="agent_user_id" jdbcType="BIGINT" property="agentUserId"/>
        <result column="agent_driver_id" jdbcType="BIGINT" property="agentDriverId"/>
        <result column="agent_driver_name" jdbcType="VARCHAR" property="agentDriverName"/>
        <result column="agent_driver_phone" jdbcType="VARCHAR" property="agentDriverPhone"/>
        <result column="handover_time" jdbcType="TIMESTAMP" property="handoverTime"/>
        <result column="give_back_time" jdbcType="TIMESTAMP" property="giveBackTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lng" jdbcType="DOUBLE" property="lng"/>
        <result column="lat" jdbcType="DOUBLE" property="lat"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="car_id" jdbcType="BIGINT" property="carId"/>
        <result column="plate_number" jdbcType="VARCHAR" property="plateNumber"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="official_user_id" jdbcType="BIGINT" property="officialUserId"/>
        <result column="official_driver_id" jdbcType="BIGINT" property="officialDriverId"/>
        <result column="official_driver_name" jdbcType="VARCHAR" property="officialDriverName"/>
        <result column="official_driver_phone" jdbcType="VARCHAR" property="officialDriverPhone"/>
        <result column="is_commented" jdbcType="BIT" property="isCommented"/>
        <result column="is_paid" jdbcType="BIT" property="isPaid"/>
    </resultMap>

    <select id="getOrderList" parameterType="map" resultMap="OrderModel">
        SELECT order_id, rent_id, agent_driver_id, agent_driver_name, agent_driver_phone, handover_time, give_back_time,
            address, lng, lat, price, car_id, plate_number, official_driver_id, official_driver_name, official_driver_phone,
            is_commented, is_paid, status
        FROM order_info
        WHERE is_deleted=0

        <if test="orderId != null and orderId > 0">
            AND order_id=#{orderId}
        </if>

        <if test="driverName != null and driverName != ''">
            AND (agent_driver_name=#{driverName} OR official_driver_name=#{driverName})
        </if>

        <if test="phone != null and phone != ''">
            AND (agent_driver_phone=#{phone} OR official_driver_phone=#{phone})
        </if>

        <if test="status != null and status > 0">
            AND status=#{status}
        </if>

        <if test="startTime != null">
            <![CDATA[ AND handover_time >= #{startTime} ]]>
        </if>

        <if test="endTime != null">
            <![CDATA[ AND give_back_time <= #{endTime} ]]>
        </if>
        ORDER BY gmt_modify DESC, gmt_create DESC
    </select>
</mapper>