<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.OrderHandoverRuleMapper">
  <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.OrderHandoverRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rule_id" jdbcType="BIGINT" property="ruleId" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    <result column="creator" jdbcType="VARCHAR" property="creator"/>
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
  </resultMap>
</mapper>