<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoogurt.taxi.dal.mapper.RentInfoMapper">
    <resultMap id="BaseResultMap" type="com.yoogurt.taxi.dal.beans.RentInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="rent_id" jdbcType="BIGINT" property="rentId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="driver_id" jdbcType="BIGINT" property="driverId"/>
        <result column="driver_name" jdbcType="VARCHAR" property="driverName"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="handover_time" jdbcType="TIMESTAMP" property="handoverTime"/>
        <result column="give_back_time" jdbcType="TIMESTAMP" property="giveBackTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lng" jdbcType="DOUBLE" property="lng"/>
        <result column="lat" jdbcType="DOUBLE" property="lat"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="car_id" jdbcType="BIGINT" property="carId"/>
        <result column="plate_number" jdbcType="VARCHAR" property="plateNumber"/>
        <result column="energy_type" jdbcType="INTEGER" property="energyType"/>
        <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType"/>
        <result column="car_thumb" jdbcType="VARCHAR" property="carThumb"/>
        <result column="vin" jdbcType="VARCHAR" property="vin"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <resultMap id="RentPOIModel" type="com.yoogurt.taxi.dal.model.order.RentInfoModel">
        <id column="rent_id" jdbcType="BIGINT" property="rentId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="driver_id" jdbcType="BIGINT" property="driverId"/>
        <result column="driver_name" jdbcType="VARCHAR" property="driverName"/>
        <result column="plate_number" jdbcType="VARCHAR" property="plateNumber"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="car_thumb" jdbcType="VARCHAR" property="carThumb"/>
        <result column="handover_time" jdbcType="TIMESTAMP" property="handoverTime"/>
        <result column="give_back_time" jdbcType="TIMESTAMP" property="giveBackTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lng" jdbcType="DOUBLE" property="lng"/>
        <result column="lat" jdbcType="DOUBLE" property="lat"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="order_count" jdbcType="INTEGER" property="orderCount"/>
        <result column="traffic_violation_count" jdbcType="INTEGER" property="trafficViolationCount"/>
        <result column="disobey_count" jdbcType="INTEGER" property="disobeyCount"/>
        <result column="score" jdbcType="DECIMAL" property="score"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <resultMap id="RentListModel" extends="RentPOIModel" type="com.yoogurt.taxi.dal.model.order.RentListModel">
        <result column="rent_time" jdbcType="INTEGER" property="rentTime"/>
    </resultMap>

    <select id="getRentList" resultMap="RentPOIModel" parameterType="map">
        SELECT rent_id, r.user_id, r.driver_id, driver_name, plate_number, avatar, car_thumb, handover_time, give_back_time,
        address, lng, lat, price, order_count, traffic_violation_count, disobey_count, score, status, remark
        FROM rent_info AS r
        LEFT JOIN order_statistic AS o ON (r.driver_id=o.driver_id)
        WHERE r.is_deleted=0
        <if test="userId != null and userId > 0">
            AND r.user_id=#{userId}
        </if>
        <if test="maxLng != null">
            <![CDATA[ AND r.lng <= #{maxLng} ]]>
        </if>

        <if test="minLng != null">
            <![CDATA[ AND r.lng >= #{minLng} ]]>
        </if>

        <if test="maxLat != null">
            <![CDATA[ AND r.lat <= #{maxLat} ]]>
        </if>

        <if test="minLat != null">
            <![CDATA[ AND r.lat >= #{minLat} ]]>
        </if>

        <if test="startTime != null">
            <![CDATA[ AND r.handover_time >= #{startTime} ]]>
        </if>

        <if test="endTime != null">
            <![CDATA[ AND r.give_back_time <= #{endTime} ]]>
        </if>

        <if test="status != null and status > 0">
            AND r.status=#{status}
        </if>

        <if test="keywords != null and keywords != ''">
            AND r.address LIKE #{keywords}
        </if>
        ORDER BY r.gmt_create DESC
    </select>

    <select id="getRentListByPage" parameterType="map" resultMap="RentListModel">
        SELECT rent_id, r.user_id, r.driver_id, driver_name, plate_number, avatar, car_thumb, handover_time, give_back_time,
        address, lng, lat, price, order_count, traffic_violation_count, disobey_count, score, status, remark,
        HOUR(give_back_time - handover_time) AS rent_time
        FROM rent_info AS r
        LEFT JOIN order_statistic AS o ON (r.driver_id=o.driver_id)
        WHERE r.is_deleted=0
        <if test="userId != null and userId > 0">
            AND r.user_id=#{userId}
        </if>

        <if test="maxLng != null">
            <![CDATA[ AND r.lng <= #{maxLng} ]]>
        </if>

        <if test="minLng != null">
            <![CDATA[ AND r.lng >= #{minLng} ]]>
        </if>

        <if test="maxLat != null">
            <![CDATA[ AND r.lat <= #{maxLat} ]]>
        </if>

        <if test="minLat != null">
            <![CDATA[ AND r.lat >= #{minLat} ]]>
        </if>

        <if test="startTime != null">
            <![CDATA[ AND r.handover_time >= #{startTime} ]]>
        </if>

        <if test="endTime != null">
            <![CDATA[ AND r.give_back_time <= #{endTime} ]]>
        </if>

        <if test="status != null and status > 0">
            AND r.status=#{status}
        </if>

        <if test="keywords != null and keywords != ''">
            AND r.address LIKE #{keywords}
        </if>
    </select>
</mapper>